pandas
numpy
scipy>=1.0
pybids
mne
mne-bids
pyyaml
toposort
git+https://github.com/yjmantilla/sovabids.git#egg=sovabids
autoreject
mne-icalabel
pyprep
scipy
neuroCombat
mlxtend
xgboost
scikit-learn
matplotlib
plotly
tqdm
shap
psutil
openpyxl
kaleido
fooof
cmasher