mne
mne-bids
autoreject
mne-icalabel
pyprep
neuroCombat
mlxtend
xgboost
plotly
tqdm
shap
psutil
openpyxl
kaleido
fooof
cmasher
antropy
PyWavelets
neurokit2
biotuner
git+https://github.com/Imperial-MIND-lab/integrated-info-decomp.git